[alias]
	ci = commit -v
	co = checkout
	fpush = push --force-with-lease
	ls = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=iso
	patch = !sh -c 'git format-patch --stdout $0...$0~'
	st = status -sb
	tag-with-date = !sh -c 'git tag "$0"_$(date "+%y-%m-%d_%H-%M-%S")'

[apply]
	whitespace = nowarn

[branch]
	sort = -committerdate

[color]
	ui = auto

[color "status"]
	untracked = cyan

[column]
	ui = auto

[core]
	excludesFile = ~/.gitignore
	pager = less -r

[diff]
	algorithm = histogram
	mnemonicprefix = true
	renameLimit = 10000

[gpg]
	program = gpg

[help]
	autocorrect = 1

[include]
	path = ~/.gitconfig-user

[init]
	defaultBranch = main

[merge]
	conflictstyle = zdiff3
	tool = vimdiff

[pull]
	default = current

[push]
	autoSetupRemote = true
	default = current

[rebase]
	autosquash = true

[rerere]
	autoUpdate = true
	enabled = true

[url "git@github.com:"]
	insteadOf = https://github.com/

; git-spice config https://abhinav.github.io/git-spice/
[spice "shorthand"]
	tr = branch track
	ch = branch checkout
	sync = repo sync
