
[color]
    ui = auto

; based on https://github.com/jakubnabrdalik/gitkurwa
[alias]
    hist = log --pretty=format:'%Cred%h%Creset %C(bold blue)<%an>%Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset%n%w(80,8,8)%s%n' --graph --name-status
    llog = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=iso
    showorigin = !sh -c "isHash=true; for i in `git ls-remote -h origin`; do [ ! -z $isHash ] && echo \" $i\" || printf \"%-8s %8s %-8s%-3s %-10s %-20s\" `git show -s --pretty=format:\"%C(yellow)%h %Cred%ad %Cblue%an\" --date=relative $i` ; [ ! -z $isHash ] && isHash=\"\" || isHash=true ; done"
    tag-with-date = !sh -c 'git tag "$0"_$(date "+%y-%m-%d_%H-%M-%S")'
    unstage = reset HEAD --
    patch = !sh -c 'git format-patch --stdout $0...$0~'
    purr = pull --rebase
    puff = pull --ff-only
	st = status
	springcleaning = for-each-ref --sort=-committerdate --format='%(refname:short) %(committerdate:short)'

[apply]
    whitespace = nowarn

[core]
    pager = less -r

[help]
    autocorrect = 1

[push]
    default = simple

[merge]
    tool = vimdiff
    conflictstyle = diff3

; store user configuration outside repo
[include]
    path = ~/.gitconfig-user
