Xft.rgba:       rgb
Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1

URxvt.termName: rxvt-256color
URxvt.imLocale: pl_PL.UTF-8
URxvt.saveLines: 9000

URxvt.perl-ext-common: default,matcher,searchable-scrollback<M-s>,readline,font-size
URxvt.keysym.C-S-Up: perl:font-size:increase
URxvt.keysym.C-S-Down: perl:font-size:decrease
URxvt.urlLauncher: /usr/bin/xdg-open
URxvt.underlineURLs: true
URxvt.keysym.M-Delete: perl:matcher:list

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-*
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.foreground: #93a1a1
URxvt.background: #000000
URxvt.highlightColor: #343434

URxvt.color0: #2E3436
URxvt.color1: #CC0000
URxvt.color2: #4E9A06
URxvt.color3: #C4A000
URxvt.color4: #3465A4
URxvt.color5: #75507B
URxvt.color6: #06989A
URxvt.color7: #D3D7CF
URxvt.color8: #555753
URxvt.color9: #EF2929
URxvt.color10: #8AE234
URxvt.color11: #FCE94F
URxvt.color12: #729FCF
URxvt.color13: #AD7FA8
URxvt.color14: #34E2E2
URxvt.color15: #EEEEEC

URxvt.color24:  #076678
URxvt.color66:  #427b58
URxvt.color88:  #9d0006
URxvt.color96:  #8f3f71
URxvt.color100: #79740e
URxvt.color108: #8ec07c
URxvt.color109: #83a598
URxvt.color130: #af3a03
URxvt.color136: #b57614
URxvt.color142: #b8bb26
URxvt.color167: #fb4934
URxvt.color175: #d3869b
URxvt.color208: #fe8019
URxvt.color214: #fabd2f
URxvt.color223: #ebdbb2
URxvt.color228: #f2e5bc
URxvt.color229: #fbf1c7
URxvt.color230: #f9f5d7
URxvt.color234: #1d2021
URxvt.color235: #282828
URxvt.color236: #32302f
URxvt.color237: #3c3836
URxvt.color239: #504945
URxvt.color241: #665c54
URxvt.color243: #7c6f64
URxvt.color244: #928374
URxvt.color245: #928374
URxvt.color246: #a89984
URxvt.color248: #bdae93
URxvt.color250: #d5c4a1

URxvt.buffered: false

URxvt.cutchars: "`\"'&()*,;<=>?@[]^{|}│─"


